body {
    background-color: #fcecdd;
}

.city-btn {
    background-color: #ffc288;
}

.city-btn-active {
    background-color: #ff6701;
}

.algorithm-btn {
    background-color: #ffc288;
}

.algorithm-btn-active {
    background-color: #ff6701;
}